{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Reports plugin for Craft CMS
 *
 * ReportsWidget Widget Body
 *
 * @author    Superbig
 * @copyright Copyright (c) 2019 Superbig
 * @link      https://superbig.co
 * @package   Reports
 * @since     1.0.0
 */
#}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@superbig/reports/assetbundles/reportswidgetwidget/dist', true) ~ '/img/ReportsWidget-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>{{ message }}</p>
